.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    color: white;
    font-size: 3vw;
    background-color: rgba(0,0,0, .6);
    border-radius: 20px;
   
}