<!-- <p>toolbar works!</p> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
               <img src="../../../favicon.ico"> 
                Welcome to 1337 PC Builds
            </a> 
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a target="_blank" href="https://twitter.com/mukund_tiwari1"><span class="fab fa-twitter fa-lg" style="color:whitesmoke; margin-right: 10px;"></span> </a></li> 
            &nbsp;
            <li><a target="_blank" href="https://youtube.com/c/MukundTiwari"><span class="fab fa-youtube fa-lg" style="color: whitesmoke; margin-left: 10px;"></span> </a></li>
        </ul>
    </div>
</nav>
